*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.loading-bar 
{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;
    will-change: transform;
}

.loading-bar.ended
{
    transform-origin: top right;
    transition: transform 1.5s ease-in-out;
}

.point 
{
    position: absolute;
    top: 50%;
    left: 50%;
}

.point .label
{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #00000077;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    transform: scale(0, 0);
    transition: transform 0.3s;
}

.point.visible .label
{
    transform: scale(1, 1);
}

.point.toggled .label 
{
    background: #ffffff;
    color: #000000;
    transition: color 0.3s;
}

.point .text
{
    opacity: 0;
    position: absolute;
    top: 50px;
    left: -120px;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    background: #00000077;
    color: #ffffff;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    transition: opacity 0.3s;
    pointer-events: none;
}

.point .chart
{
    opacity: 0;
    position: absolute;
    top: -25vh;
    left: -36vh;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    background: #00000077;
    color: #ffffff;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    transition: opacity 0.3s;
    pointer-events: none;
}

.point.toggled .text
{
    opacity: 1;
}

.point.toggled .chart
{
    opacity: 1;
}

.point button 
{
    cursor: pointer;
}
